{% load static %}
{% include "header.html" %}
{#    <h2>Change password</h2>#}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <div>#}
{#            <button type="submit" value="sumbit" class="btn btn-outline-secondary" >#}
{#                Enter#}
{#            </button>#}
{#        </div>#}
{#    </form>#}
{#{% endblock content %}#}
{#{% include "footer.html" %}#}

{% block content %}
    <h2>Change Password</h2>
    <table>
        <tr>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button
                        style="height:40px;width:40px"
                        type="submit"
                        value="sumbit"
                        class="btn btn-outline-success"
                        title="Update password">
                    &#10003;
                </button>
            </form>
        <tr> or </tr>
        <button
                style="height:40px;width:40px"
                class="btn btn-outline-primary"
                onclick="location.href='{% url 'user_info' %}'"
                title="Cancel">
            &#8416;
        </button>
        </tr>
    </table>
{% endblock content %}