{% load static %}
{% load crispy_forms_tags %}
{% include "header.html" %}
{% block content %}
    <div class="w-auto p-3">
        <div class="page-header">
            <h3>Log in</h3>
        </div>
        <table>
            <tr>
                <form method="post">
                    {% csrf_token %}
                    <div style="width:25%">
                        {{ form | crispy }}
                    </div>
                    <button
                            style="height:40px;width:50px"
                            type="submit"
                            value="sumbit"
                            class="btn btn-outline-success"
                            title="Log in">
                        &#128273;
                    </button>
                </form>
            <tr> or</tr>

            <button
                    style="height:40px;width:50px"
                    class="btn btn-outline-primary"
                    onclick="location.href='{% url 'index' %}'"
                    title="Cancel">
                &#8416;
            </button>
            </tr>
        </table>
        <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
    </div>
{% endblock content %}
{% include "footer.html" %}