{% load static %}
{% load crispy_forms_tags %}
{% include "header.html" %}
{% block content %}
    <script src="{% static 'ReportingTool/js/prev_page.js' %}"></script>
    <div class="w-auto p-3">
    <div class="page-header">
        <div class="text-center">
            <h3>Sign up</h3>
        </div>
    </div>
    <div>
        <form method="post">
            {% csrf_token %}
            <div class="row d-flex justify-content-center">
                <div class="col-md-auto">
                    <div class="d-flex pe-auto">
                        {{ form.username |as_crispy_field }}
                        &nbsp;
                        {{ form.password |as_crispy_field }}
                        &nbsp;
                        {{ form.email |as_crispy_field }}
                    </div>
                    <div class="d-flex pe-auto">
                        {{ form.last_name |as_crispy_field }}
                        &nbsp;
                        {{ form.first_name |as_crispy_field }}
                        &nbsp;
                        {{ form.middle_name |as_crispy_field }}
                    </div>
                    <div class="d-flex pe-auto">
                        {{ form.profession |as_crispy_field }}
                        &nbsp;
                        {{ form.struct_division |as_crispy_field }}
                    </div>
                    <div class="d-flex pe-auto">
                        {{ form.captcha |as_crispy_field }}
                    </div>
                    <div class="text-center">
                        <button
                                style="height:40px;width:50px"
                                class="btn btn-outline-primary"
                                onclick="goPrev()"
                                title="Cancel">
                            &#8416;
                        </button>
                        <button
                                style="height:40px;width:50px"
                                type="submit"
                                value="sumbit"
                                class="btn btn-outline-success"
                                title="Sign up">
                            &#128273;
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="text-center">
            <p><a href="{% url 'login' %}">Log in</a></p>
        </div>
    </div>
{% endblock %}
{% include "footer.html" %}