{% load i18n %}
{% load static %}
{% block content %}
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
                crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
              crossorigin="anonymous">
        <title>ReportingTool&trade;</title>
    </head>
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">ReportingTool&trade;</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    {{ user.username }}
                                </a>
                                <ul class="dropdown-menu">
                                    {% if not user.is_superuser %}
                                        <li>
                                            <a class="dropdown-item" href="{% url 'completed_work_add' %}">
                                                {% trans "Add new record" %}
                                            </a>
                                        </li>

                                        <li>
                                            <a class="dropdown-item" href="{% url 'completed_work_list' %}">
                                                {% trans "List of completed work" %}
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a class="dropdown-item" href="{% url 'user_info' %}">
                                            {% trans "User info" %}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'logout' %}">
                                            {% trans "Log out" %}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    {% trans "Anonymous" %}
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'login' %}">
                                            {% trans "Log in" %}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'signup' %}">
                                            {% trans "Sign up" %}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                        {% if user.is_head or user.is_curator or user.is_superuser %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    {% trans "Reports" %}
                                </a>
                                <ul class="dropdown-menu">
                                    {% if user.is_head %}
                                        <li>
                                            <a class="dropdown-item" href="{% url 'completed_work_check' %}">
                                                {% trans "Approve completed work" %}
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if user.is_superuser %}
                                        <li>
                                            <a class="dropdown-item" href="{% url 'completed_work_trash' %}">
                                                {% trans "Completed work in trash" %}
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if user.is_head or user.is_curator %}
                                        <li>
                                            <a class="dropdown-item" href="{% url 'reports_related_struct_unit' %}">
                                                {% trans "Related structural units" %}
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link disabled">{% trans "Reports" %}</a>
                            </li>
                        {% endif %}
                        {% if user.is_superuser %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'admin:index' %}">
                                    {% trans "Admin panel" %}
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link disabled">
                                    {% trans "Admin panel" %}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                <ul class="d-flex list-unstyled">
                        <li class="nav-item">
                            <form action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <input name="language" type="hidden" value="uk"/>
                                <input type="image" src="/static/ReportingTool/img/ukraine.png"/>
                            </form>
                        </li>
                        <li class="nav-item">
                            <form action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <input name="language" type="hidden" value="en"/>
                                <input type="image" src="/static/ReportingTool/img/british.png"/>
                            </form>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

    </header>






    {% include 'messaging.html' %}
{% endblock content %}