{% load i18n %}
{% load static %}
{% include "header.html" %}
<div class="w-auto p-3">
{% if user.is_authenticated %}
    <p>{{ user.first_name }} {% trans "welcome in" %} Reporting Tool.</p>
    <p>{% trans "This resource was created to automate the preparation and collection of reports." %}</p>
{% else %}
    <p>{% trans "You need to" %}
        <a href="{% url 'login' %}">{% trans "Log in" %}</a>
        {% trans "or" %}
        <a href="{% url 'signup' %}">{% trans "Sign up" %}</a>.</p>
 {% endif %}
</div>
{% include "footer.html" %}