{% load i18n %}
{% load static %}
{% include "header.html" %}
{% block content %}
    <script src="{% static 'ReportingTool/js/sort_text.js' %}"></script>
    <script src="{% static 'ReportingTool/js/sort_number.js' %}"></script>
    <script src="{% static 'ReportingTool/js/select.js' %}"></script>
    <div class="w-auto p-3">
        {% if user.is_authenticated %}
            <div class="container-fluid">
                <div class="row g-4">
                    <div class="col-2">
                        <div class="row border border-2 p-2">
                            <h3>{% trans "Info" %}</h3>
                            <p>{% trans "You see only those completed works that are confirmed by the heads of structural divisions and are available for display to the" %} {{ user }}.</p>
                            <p>{% trans "You can set different filters" %}.</p>
                            <p>{% trans "You can save the results to file" %}.</p>
                        </div>
                        <div class="row sticky-top">
                            <form method="GET" action=".">
                                <div class="row">
                                    <div class="border border-2 p-2 g-2">
                                        <label for="periodMin">{% trans "Start date" %}</label>
                                        <input type="date" class="myselect form-select form-select-sm" id="periodMin"
                                               name="period_min">
                                        <label for="periodMax">{% trans "End date" %}</label>
                                        <input type="date" class="myselect form-select form-select-sm" id="periodMax"
                                               name="period_max">
                                    </div>
                                    <div class="border border-2 p-2 g-2">
                                        <label for="structDivisions">{% trans "Structural division" %}</label>
                                        <select id="structDivisions" class="myselect form-select form-select-sm"
                                                name="struct_division">
                                            <option selected>{% trans "Choose..." %}</option>
                                            {% for SD in struct_divisions %}
                                                <option id="{{ SD.id }}" value="{{ SD }}"> {{ SD }}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="workers">{% trans "Worker" %}</label>
                                        <select id="workers" class="myselect form-select form-select-sm" name="worker">
                                            <option selected>{% trans "Choose..." %}</option>
                                            {% for worker in workers %}
                                                <option value="{{ worker }}">{{ worker }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="border border-2 p-2 g-2">
                                        <label for="workDone">{% trans "Work done" %}</label>
                                        <select class="myselect form-select form-select-sm" id="workDone"
                                                name="work_done">
                                            <option selected>{% trans "Choose..." %}</option>
                                            {% for work in workstype %}
                                                <option value="{{ work }}">{{ work }}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="scope_min">{% trans "Scope min" %}</label>
                                        <input type="number" min=0 class="myselect form-control form-control-sm"
                                               id="scope_min"
                                               name="work_scope_min">
                                        <label for="scope_max">{% trans "Scope max" %}</label>
                                        <input type="number" min=0 class="myselect form-control form-control-sm"
                                               id="scope_max"
                                               name="work_scope_max">
                                        <label for="notes">{% trans "Notes contain" %}</label>
                                        <input type="text" class="myselect form-control form-control-sm" id="notes"
                                               name="work_notes_contains">
                                    </div>
                                    <div class="row border border-2 p-2 g-2">
                                        <button type="submit"
                                                value="sumbit"
                                                name="button_search"
                                                class="btn btn-outline-secondary w-100"
                                                title="{% trans "Search" %}">
                                            &#128269;
                                        </button>
                                        <button
                                                name="button_export"
                                                class="btn btn-outline-secondary w-100"
                                                onclick=" location.href='{% url 'export_report' %}'"
                                                title="{% trans 'Export to CSV' %}">
                                            &#128190;
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-10">
                        {% if queryset %}
                            <table class="table table-hover" id="DataFromBase">
                                <thead class="table-dark">
                                <tr>
                                    <th scope="col" onclick="sortNumber()">&#9650;</th>
                                    <th scope="col" onclick="sortTable(1)">{% trans "Date" %} &diams;</th>
                                    <th scope="col" onclick="sortTable(2)">{% trans "Main SD" %} &diams;</th>
                                    <th scope="col" onclick="sortTable(3)">{% trans "Sub SD" %} &diams;</th>
                                    <th scope="col" onclick="sortTable(4)">{% trans "Worker" %} &diams;</th>
                                    <th scope="col" onclick="sortTable(5)">{% trans "Work done" %} &diams;</th>
                                    <th scope="col">{% trans "Scope" %}</th>
                                    <th scope="col">{% trans "TimeNorm" %}</th>
                                    <th scope="col">{% trans "Measure" %}</th>
                                    <th scope="col">{% trans "Notes" %}</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for record in queryset %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ record.period }}</td>
                                        {% if record.worker.struct_division.management_unit == None %}
                                            <td>{{ record.worker.struct_division }}</td>
                                            <td></td>
                                        {% else %}
                                            <td>{{ record.worker.struct_division.management_unit }}</td>
                                            <td>{{ record.worker.struct_division }}</td>
                                        {% endif %}
                                        <td>{{ record.worker }}</td>
                                        <td>{{ record.work_done }}</td>
                                        <td>{{ record.work_scope }}</td>
                                        <td>
                                            {% if record.work_done.time_norm %}
                                                {{ record.work_done.time_norm }}
                                            {% else %}
                                                {% trans "none" %}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if record.work_done.measure.name == "times" %}
                                                {% trans "times" %}
                                            {% elif record.work_done.measure.name == "running meters" %}
                                                {% trans "running meters" %}
                                            {% elif record.work_done.measure.name == "pieces" %}
                                                {% trans "pieces" %}
                                            {% else %}
                                                {% trans "none" %}
                                            {% endif %}
                                        </td>
                                        <td>{{ record.work_notes }}</td>
                                        {% if user.is_head %}
                                            <td>
                                                <form method="post"
                                                      action="{% url 'completed_work_reject' record.pk %}">
                                                    {% csrf_token %}
                                                    <button
                                                            class="btn btn-outline-warning"
                                                            style="height:40px;width:40px"
                                                            type="submit"
                                                            value="sumbit"
                                                            title="{% trans "Reject record" %}">
                                                        &#65794;
                                                    </button>
                                                </form>
                                            </td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>{% trans "No records to show" %}.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <script>
                let selItems = JSON.parse(sessionStorage.getItem("SelItem")) || [];

                $(function () {
                    if (selItems) {
                        selItems.forEach(obj => {
                            const [k, v] = Object.entries(obj)[0]
                            $("#" + k).val(v)
                        })
                    }
                    $('.myselect').on("change", function () {
                        selItems = $('.myselect').map(function () {
                            return {[this.id]: this.value}
                        }).get();
                        sessionStorage.setItem("SelItem", JSON.stringify(selItems))


                    });
                });
            </script>
        {% else %}
            <p>{% trans "Sorry, you are not allowed to access this page" %}</p>
        {% endif %}
    </div>
{% endblock content %}
{% include "footer.html" %}