{% load static %}
{% load crispy_forms_tags %}
{% include "header.html" %}
{% block content %}
    <script src="{% static 'ReportingTool/js/sort_text.js' %}"></script>
    <script src="{% static 'ReportingTool/js/sort_number.js' %}"></script>
    <div class="w-auto p-3">
        {% if user.is_authenticated %}
            <div class="page-header">
                <h3>Completed work by {{ user }} related structural divisions</h3>
            </div>
            <form method="get">
                <div class="d-flex pe-auto">
                    {{ filter.form.period |as_crispy_field }}
                    &nbsp;
                    {{ filter.form.worker__struct_division|as_crispy_field }}
                    &nbsp;
                    {{ filter.form.worker|as_crispy_field }}
                </div>

                <div class="d-flex pe-auto">
                    {{ filter.form.work_done|as_crispy_field }}
                </div>
                <button type="submit"
                        value="sumbit"
                        class="btn btn-outline-secondary"
                        title="Search">
                    &#128269;
                </button>
            </form>
            {% if object_list %}
                <table class="table table-hover" id="DataFromBase">
                <thead class="table-dark">
                <tr>
                    <th scope="col" onclick="sortNumber()">&#9650;</th>
                    <th scope="col" onclick="sortTable(1)">Date &diams;</th>
                    <th scope="col" onclick="sortTable(2)">Main SD &diams;</th>
                    <th scope="col" onclick="sortTable(3)">Sub SD &diams;</th>
                    <th scope="col" onclick="sortTable(4)">Worker &diams;</th>
                    <th scope="col" onclick="sortTable(5)">Type of work done &diams;</th>
                    <th scope="col">Scope</th>
                    <th scope="col">TimeNorm</th>
                    <th scope="col">Measure</th>
                    <th scope="col">Notes</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    {% if object.worker.struct_division.head == user or object.worker.struct_division.management_unit.head == user or object.worker.struct_division.curator == user or object.worker.struct_division.management_unit.curator == user %}
                        {% if object.checked_by_head %}
                            <tr>
                                <td></td>
                                <td>{{ object.period }}</td>
                                {% if object.worker.struct_division.management_unit == None %}
                                    <td>{{ object.worker.struct_division }}</td>
                                    <td></td>
                                {% else %}
                                    <td>{{ object.worker.struct_division.management_unit }}</td>
                                    <td>{{ object.worker.struct_division }}</td>
                                {% endif %}
                                <td>{{ object.worker }}</td>
                                <td>{{ object.work_done }}</td>
                                <td>{{ object.work_scope }}</td>
                                <td>{{ object.work_done.time_norm }}</td>
                                <td>{{ object.work_done.measure }}</td>
                                <td>{{ object.work_notes }}</td>
                                {% if user.is_head or object.record_author == user %}
                                    <td>
                                        <form method="post" action="{% url 'completed_work_reject' object.pk %}">
                                            {% csrf_token %}
                                            <button
                                                    class="btn btn-outline-warning"
                                                    style="height:40px;width:40px"
                                                    type="submit"
                                                    value="sumbit"
                                                    title="Reject record">
                                                &#8722;
                                            </button>
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endif %}
                    </tbody>
                {% endfor %}
            {% else %}
                <p>No objects found.</p>
            {% endif %}
        </table>

        {% else %}
            <p>Sorry, you are not allowed to access this page</p>
        {% endif %}
        <script src="{% static 'ReportingTool/js/rows_count.js' %}"></script>
    </div>
{% endblock content %}
{% include "footer.html" %}

